#items-index {
  flex-grow: 4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.item-index-el {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 386px;
  margin: 10px;
  padding: 15px 10px;
  * {
    margin: 5px;
  }
  .item-buttons {
    right: 11px;
    top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    * {
      margin: 0;
    }
    .item-request-button {
      button {
        border-bottom-left-radius: 0;
        border-left: 1px solid rgba(34, 85, 34, 0.2);
        font-weight: bold;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
      }
    }
  }
  img {
    border: 1px solid rgba(34, 85, 34, 0.2);
    background-color: #eee;
    width: auto;
    height: auto;
  }
  cursor: pointer;
}

 .item-detail {
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  * {
    margin: 10px;
  }
   img {
     max-width: 400px;
     max-height: 500px;
   }
 }

 .item-request-button button {
   padding: 5px 7px;
 }

 .new-item-form {
  * {
   margin: 10px 5px 10px 5px;
  }
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  .image-upload {
    float: left;
    width: 250px;
    min-height: 300px;
    &:hover {
      box-shadow: 3px 3px 7px #cdc;
    }
  }
  .input {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 80px auto 40px auto;
    .input-data {
     float: right;
     textarea {
       position: absolute;
       margin: 0;
     }
    }
    .create-button {
     align-self: flex-end;
    }
  }
 }

 .item-data {
   width: 95%;
   display: flex;
   justify-content: space-between;
   p {
     font-size: 1.1em;
   }
 }

 .item-detail {
   .item-data {
     width: 80%;
   }
 }

 .mini-order {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   div {
     margin: 0;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
   }
   > p {
     margin: 0 10px;
   }
   input {
     width: 30px;
     font-size: 1em;
     border: 1px solid rgba(34, 85, 34, .8);
     border-radius: 3px;
     margin-right: 0;
     padding-left: 5px;
   }
   button {
     margin: 10px 0;
     padding: 5px;
     width: 100px;
     background: #2FD52F;
     color: black;
     &:hover, &:focus {
       color: white;
       box-shadow: 1px 1px 1px black;
     }
   }
 }
