.stores-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: .3125em;
}

.store-index-el {
  display: flex;
  padding: .9375em .625em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .3125em;
  cursor: pointer;
  .index-buttons {
    top: 1em;
    right: 5.6875em;
  }

}

.store-images {
  width: 25.1875em;
  display: flex;
  img {
    border: .0625em solid rgba(34, 85, 34, 0.2);
  }
  > img {
    border-right: 0;
  }
}

.store-featured {
  img {
    border-top: 0;
    &:first-child {
      border-top: .0625em solid rgba(34, 85, 34, 0.2);
    }
  }
}

/* Store Detail
 *
 *
 *
 */

 .store-detail {
   flex-grow: 1;
   width: 24.375em;
   padding: 1.25em;
   box-shadow: 5px 0 3px #ded;
   img {
     margin-left: auto;
     margin-right: auto;
     width: 21.75em;
     border: 1px solid rgba(34, 85, 34, 0.2);
   }
   h2 {
     margin: .78125em 0;
     text-align: center;
   }
 }

 .new-store-form {
  * {
   margin: .625em .3125em .625em .3125em;
  }
  h2 {
    text-align: center;
    margin-top: 2.5em;
  }
  .image-upload {
    float: left;
    width: 15.625em;
    min-height: 18.75em;
    &:hover {
      box-shadow: 3px 3px 7px #cdc;
    }
  }
  .input {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 6.25em auto 2.5em 3.75em;
    .input-data {
      input {
        font-size: 1em;
      }
      float: right;
      textarea {
        font-size: 1em;
        position: absolute;
        margin: 0;
      }
    }
    .create-button {
     align-self: flex-end;
    }
  }
 }
