.stores-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.store-index-el {
  display: flex;
  padding: 15px 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  .index-buttons {
    top: 16px;
    right: 91px;
  }

}

.store-images {
  width: 403px;
  display: flex;
  img {
    border: 1px solid rgba(34, 85, 34, 0.2);
  }
  > img {
    border-right: 0;
  }
}

.store-featured {
  img {
    border-top: 0;
    &:first-child {
      border-top: 1px solid rgba(34, 85, 34, 0.2);
    }
  }
}

/* Store Detail
 *
 *
 *
 */

 .store-detail {
   flex-grow: 1;
   width: 390px;
   padding: 20px;
   box-shadow: 5px 0 3px #ded;
   img {
     margin-left: auto;
     margin-right: auto;
     width: 348px;
     border: 1px solid rgba(34, 85, 34, 0.2);
   }
   h2 {
     margin: 25px 0;
     text-align: center;
   }
 }

 .new-store-form {
  * {
   margin: 10px 5px 10px 5px;
  }
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  .image-upload {
    float: left;
    width: 250px;
    min-height: 300px;
    &:hover {
      box-shadow: 3px 3px 7px #cdc;
    }
  }
  .input {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 100px auto 40px 60px;
    .input-data {
     float: right;
     textarea {
       position: absolute;
       margin: 0;
     }
    }
    .create-button {
     align-self: flex-end;
    }
  }
 }
